* {
  text-align: center;
}

.features {
  width: 80%;
  margin: 100px auto;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 20px;
  align-items: center;
  margin: 10px auto;
  text-align: center;
  grid-column-gap: 5px;
}

.services h3 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}

.service img {
  width: 90px;
}

.service p {
  text-align: center;
  width: 70%;
  margin: 10px auto;
  font-size: 14px;
  line-height: 20px;
  padding: 0 30px 0 30px;
}

@media (max-width: 900px) {
  .services {
    display: block;
    margin-top: 80px;
  }
  .service-4 {
    position: relative;
    left: 0px;
    margin: 0px auto;
  }
}
