.section3 {
  width: 100%;
  height: auto;
  text-align: left;
  align-items: center;
  margin: 10px auto;
  box-sizing: border-box;
  position: relative;
}

.inner-container {
  width: 100%;
  padding: 20px;
}

.section3-heading {
  font-size: 20px;
  margin: 1px auto;
  font-weight: 600;
  line-height: 50px;
}
.Quality-features {
  width: 100%;
  height: 60vh;
  margin-top: 20px;
}
.featured {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: grey;
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  margin: 10px;
}
.featured-1,
.featured-2,
.featured-3,
.featured-4,
.featured-5,
.featured-6,
.featured-7 {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.feature-1 {
  width: 200px;
  height: 200px;
  left: 45%;
}
.featured-1 {
  width: 170px;
  height: 170px;
}
.feature-2 {
  left: 23%;

  background: Yellow;
}
.feature-3 {
  top: 44%;
  left: 30%;
  background: orange;
}
.feature-4 {
  background: #e35c7e;
  left: 41%;
  top: 60%;
}

.feature-5 {
  background: #41c4af;
  left: 53%;
  top: 60%;
}
.feature-6 {
  top: 44%;
  background: #00d2ff;
  left: 65%;
}
.feature-7 {
  background: #539ecb;

  left: 70%;
}
