.grod {
  grid-template-columns: 3fr;
}
h4 {
  font-size: 30px;
  font-weight: 400;
}
.choose-content {
  display: flex;
  padding: 10px;
  align-items: center;
}
.choose-content > p {
  text-align: left;
}
.choose-content i {
  margin: 20px;
  color: orange;
}
