.grid-case {
  width: 80%;
  margin: 20px auto;
  display: grid;
  grid-auto-rows: minmax(1fr, 2fr);
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 20px;
}
.grid-case .case-img img {
  width: 300px;
}
